<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#" class="active nav-link"><i class="fa fa-home fa-home"></i>&nbsp;主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#/forum">论坛</a>
                    </li>
                    <li class="nav-item">
                        <a href="#/map" class="nav-link">地图炮</a>
                    </li>
                    <li class="nav-item">
                        <a href="#/dialogue" class="nav-link">私信后台</a>
                    </li>
                    <li class="nav-item">
                        <a href="#/popularUser" class="nav-link">热门用户</a>
                    </li>
                    <li class="nav-item">
                        <a href="#/personalPage" class="nav-link">个人主页</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline">
                            <input type="text" class="form-control" ng-model="vm.keyword" placeholder="Mohoo Community">
                            <button type="button" class="btn btn-primary" ng-click="vm.Search();">搜索</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>