.list-box {
    max-width: 1200px;
    margin: 60px auto;
    padding:40px 30px;
    border:1px solid #dcdcdc;
}
.totalPage {
    float: right;
    color: #333;
    font-size: 18px;
}
.news-list-body {

}
.list-content {

}