<!--home顶部设计为登录和注册入口-->
<div>
    <head-interface></head-interface>
</div>
<!--导航栏-->
<div>
    <nav-bar></nav-bar>
</div>
<div class="container home_container">
        <div class="col-md-8 carouselBody">
            <div id="myCarousel" class="carousel slide carousePadding">
                    <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                    <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="#">
                            <img src="../../assets/img/homeCarousel/homeCarousel1.jpg" alt="First slide">
                        </a>
                    </div>
                    <div class="item">
                        <img src="../../assets/img/homeCarousel/homeCarousel1.jpg" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="../../assets/img/homeCarousel/homeCarousel1.jpg" alt="Third slide">
                    </div>
                </div>
                    <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" data-target="#myCarousel"
                       data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">previous</span>
                </a>
                <a class="carousel-control right" data-target="#myCarousel"
                       data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">next</span>
                </a>
            </div>
        </div>

    <div class="col-md-4">
        <h3 class="event_notice_header">模乎社区热点新事
            <a href="#/news/newslist/" class="the-more pull-right">更多+</a>
        </h3>
        <ul class="list-group event_notice_content">
            <li class="list-group-item" ng-repeat="item in home.newslist">
                <a href="#/home">{{item.title}}</a>
                <ul>
                    <li>{{item.abstract}}</li>
                </ul>

            </li>
        </ul>
    </div>
</div>
<!--home的下面部分为消息展示-->
<div class="container home_downpart">
    <div class="col-md-4 downpart_notice">
        <h3 class="event_notice_header">模乎要闻
            <a href="#/news/newslist/" class="the-more pull-right">更多+</a>
        </h3>
        <ul class="list-group event_notice_content">
            <li class="list-group-item" ng-repeat="item in home.mohooMainNews">
                <a href="#/home">{{item.title}}</a>
                <ul>
                    <li>{{item.abstract}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-4 home_downpart">
        <h3 class="event_notice_header">模乎说
            <a href="#/news/newslist/" class="the-more pull-right">更多+</a>
        </h3>
        <ul class="list-group event_notice_content">
            <li class="list-group-item" ng-repeat="item in home.mohooTalks">
                <a href="#/home">{{item.title}}</a>
                <ul>
                    <li>{{item.abstract}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-4 home_downpart">
        <h3 class="event_notice_header">模联发表
            <a href="#/news/newslist/" class="the-more pull-right">更多+</a>
        </h3>
        <ul class="list-group event_notice_content">
            <li class="list-group-item" ng-repeat="item in home.mohooUnionAssays">
                <a href="#/home">{{item.title}}</a>
                <ul>
                    <li>{{item.abstract}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--home页面的页脚部分-->
<div>
    <home-footer></home-footer>
</div>

<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
