.carousePadding {
    padding-left: 0px;
    padding-right: 0px;
}
.mohooHeading {
    margin-bottom: 10px;
}
.carouselBody {
    padding-top: 20px;
    padding-bottom: 20px;
}
.home_container {
    padding: 0px;
    max-width: 1200px;
    background: url("../../assets/img/backgrounds/blockimg.jpg") repeat;
}
.home_downpart {
    overflow: hidden;
    height: 400px;
    background-color: #f4f4f4;
}
.the-more{
    font-size: 0.5em;
    padding-top: 10px;
    color: #ae7700;
}
.event_notice {
    overflow: hidden;
}
@media (min-width: 1200px) {
    .event_notice {
        height: 420px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .event_notice{
        height: 340px;
    }
}
.event_notice_content{
    border-top: 4px solid #024656;
    padding-top: 20px;
    padding-left: 0px;
    color: #555;
}
.event_notice_header {
    color: #004444;;
}

.carousel-inner {
    height: 500px;
}
@media (min-width: 1200px){
    .home_container {
        width: 1200px;
    }
}