<!--home顶部设计为登录和注册入口-->
<div>
    <head-interface></head-interface>
</div>
<!--导航栏-->
<div>
    <nav-bar></nav-bar>
</div>

<div class="container home_container">
        <div class="col-md-8 carouselBody">
            <div id="myCarousel" class="carousel slide carousePadding">
                    <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-repeat="picture in home.pictures"
                        ng-class="{true:'active',false:''}[$index==0]"></li>
                </ol>
                    <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner" role="listbox">
                    <div class="item center-block" ng-repeat="picture in home.pictures" ng-class="{'active':$index==0}">
                        <a ng-href="#/news/newsDetails?nid={{picture.id}}">
                            <!--在newsdetails.html的controller中调用API，正式的向服务器请求图片，现有的为测试-->
                           <!-- <a ng-href="#/news/newsDetails?nid={{picture.id}}"></a>-->
                            <img ng-src="{{picture.url}}">
                        </a>
                    </div>
                </div>
                    <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left" data-target="#myCarousel"
                       data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">previous</span>
                </a>
                <a class="carousel-control right" data-target="#myCarousel"
                       data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">next</span>
                </a>
            </div>
        </div>

    <div class="col-md-4 event_notice">
        <h3 class="event_notice_header">模乎社区热点新事
            <!--转到newslist页面，在那里由控制器根据url请求更多-->
            <a href="#/news/newslist?category=模乎热点新事" class="the-more pull-right">更多+</a>
        </h3>
        <ul class="list-group event_notice_content">
            <li class="list-group-item" ng-repeat="item in home.newslist">
                <!--转到newsdetails页面，在那里根据nid由其控制器请求全文-->
                <a href="#/news/newsDetails?nid={{notice.id}}">{{item.title}}</a>
                <ul>
                    <li>{{item.abstract}}</li>
                </ul>

            </li>
        </ul>
    </div>
</div>
<!--home的下面部分为消息展示-->
<div class="container home_downpart">
    <div class="col-md-4 downpart_notice">
        <h3 class="event_notice_header">模乎要闻
            <a href="#/news/newslist?category=模乎要闻" class="the-more pull-right">更多+</a>
        </h3>
        <ul class="list-group event_notice_content">
            <li class="list-group-item" ng-repeat="mainNews in home.mohooMainNews">
                <!--转到newsdetails页面，在那里由其控制器解决-->
                <a href="#/news/newsDetails?nid={{mainNews.id}}">{{mainNews.title}}</a>
                <ul>
                    <li>{{mainNews.abstract}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-4 home_downpart">
        <h3 class="event_notice_header">模乎说
            <a href="#/news/newslist?category=模乎说" class="the-more pull-right">更多+</a>
        </h3>
        <ul class="list-group event_notice_content">
            <li class="list-group-item" ng-repeat="mohooTalk in home.mohooTalks">
                <a href="#/news/newsDetails?nid={{mohooTalk.id}}">{{mohooTalk.title}}</a>
                <ul>
                    <li>{{mohooTalk.abstract}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-4 home_downpart">
        <h3 class="event_notice_header">模联发表
            <a href="#/news/newslist?category=模联发表" class="the-more pull-right">更多+</a>
        </h3>
        <ul class="list-group event_notice_content">
            <li class="list-group-item" ng-repeat="assay in home.mohooUnionAssays">
                <a href="#/news/newsDetails?nid={{assay.id}}">{{assay.title}}</a>
                <ul>
                    <li>{{assay.abstract}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--home页面的页脚部分-->
<div>
    <home-footer></home-footer>
</div>

<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
