<div class="row register-box">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading text-center">用户注册</div>
            <div class="panel-body">
                <form ng-submit="doRegister();"  class="form-horizontal col-md-6 col-md-offset-3" role="form" name="registerForm" novalidate>
                    <div class="form-group">
                        <label class="control-label col-sm-3">用户名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="userName" placeholder="用户名"
                                   ng-maxlength="20" ng-minlength="6" ng-model="userEntity.userName" required>
                        </div>
                        <div class="error col-sm-9 col-sm-offset-3" ng-show="registerForm.userName.$dirty && registerForm.userName.$invalid">
                            <small class="error" ng-show="registerForm.userName.$error.required">Your username is required.</small>
                            <small class="error" ng-show="registerForm.userName.$error.minlength">Your username is too short.</small>
                            <small class="error" ng-show="registerForm.userName.$error.maxlength">Your username is too long.</small>
                           <!-- <small class="error" ng-show="registerForm.userName.$error.unique">That username is taken.</small>-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3">邮箱</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" name="userEmail" placeholder="请输入合法邮箱"
                                    ng-model="userEntity.email" required>
                        </div>
                        <div class="error col-sm-9 col-sm-offset-3" ng-show="registerForm.userEmail.$dirty && registerForm.userEmail.$invalid">
                            <small class="error" ng-show="registerForm.userEmail.$error.required">Your email is required.</small>
                            <small class="error" ng-show="registerForm.userEmail.$error.email">That is not a valid email.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">密码</label>
                        <div class="col-sm-9">
                            <input type="password" name="userPassword" ng-model="userEntity.userPassword" class="form-control" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">确认密码</label>
                        <div class="col-sm-9">
                            <input type="password" name="userPassword2" ng-model="userEntity.userPassword2" class="form-control" placeholder="请再次输入密码">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">籍贯</label>
                        <div class="col-sm-9">
                            <select class="form-control input-md" ng-model="userEntity.userAddress">
                                <option  ng-repeat="address in addresses" value=""> {{address.province}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">大学</label>
                        <div class="col-sm-9">
                            <select class="form-control input-md">
                                <option  ng-repeat="address in addresses" value=""> {{address.university}}</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="checkNumber" placeholder="请输入验证码">
                        </div>
                        <label class="control-label col-sm-3">验证码</label>
                    </div>
                    <div class="form-group">
                        <div class="checkbox col-sm-9">
                            <label>
                                <input type="checkbox" ng-checked="true" ng-model="agree">
                                <span>同意</span><a href="#/register">模乎社区协议</a>
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3 ">
                            <button class="btn btn-info" type="submit">注册</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>